body
{
    background-color:#333333;
    color:white;
}
#k3
{
    color:white;
}
.dom1
{
    width:125px;
    background-color:aquamarine;
    border:3px purple solid;
    display:inline-block;
    height:50px;
    margin-left:140px;
    color:black;
    text-align:center;
    font-size:14px;
    font-weight:600;
    margin-top:45px;
}
#policjant
{
    width:200px;
}
.dzialka2
{
    height:88px;
    width:140px;
    background-color: red;
    border: 4px solid blueviolet;
    float:left;
}
.odkrywka2
{
    width:122px;
    border:4px purple solid;
    height:45px;
    background-color:darkblue;
    margin-top:12px;
    font-size:16px;
    color:black;
    margin-left:-5px;
}
.bocznaodkrywka2
{
    width:70px;
    height:70px;
    background-color:darkblue;
    border:4px purple solid;
    margin-left:-6px;
}
.cos
{
    width:125px;
    background-color:aquamarine;
    border:3px purple solid;
    display:inline-block;
    height:35px;
    color:black;
    text-align:center;
    font-size:30px;
}
.klik
{
    cursor:pointer;
}
.wiekszepole
{
    width:260px;
    height:80px;
    float:left;
    border: 4px solid blueviolet;
}
.dzialka
{
    height:80px;
    width:130px;
    background-color: red;
    border: 4px solid blueviolet;
    float:left;
}
.bocznadzialka
{
    height:80px;
    width:110px;
    background-color:darkkhaki;
    border: 4px solid blueviolet;
    margin-right:650px;
}
.bocznadzialka2
{
    height:88px;
    width:118px;
    background-color:darkkhaki;
    border: 4px solid blueviolet;
    margin-right:650px;

}
.bocznanagroda
{
    height:80px;
    width:110px;
    background-color:honeydew;
    border: 4px solid blueviolet;
    margin-right:650px;
}
#wienzienie
{
    opacity:0.8;
    background-color:darkgreen;
}
.nagroda
{
    height:80px;
    width:130px;
    background-color:brown; 
    float:left;
    border: 4px solid blueviolet;
}
.szansa
{
    height:80px;
    width:130px;
    background-color:forestgreen; 
    float:left;
    border: 4px solid blueviolet;
}
#start
{
    background-color: blue;
    width:200px;
}
#parking
{
    background-color:deeppink;
}
#trzecia
{
    width:1510px;
    height:80px;
}
.bocznaszansa
{
    height:80px;
    width:110px;
    background-color:rgb(214, 210, 160);
    border: 4px solid blueviolet;
    margin-right:650px;
}
#druga
{
    width:115px;
}
#czwarta
{
    width:115px;
    float:right;
}
#pierwsza
{
    height:88px;
    width:1510px;
}
.banans
{
    width:125px;
    background-color:aquamarine;
    border:3px purple solid;
    display:inline-block;
    height:35px;
    margin-left:140px;
    color:black;
    text-align:center;
    font-size:30px;
}
.odkrywka
{
    width:122px;
    border:4px purple solid;
    height:45px;
    background-color:darkblue;
    margin-top:12px;
    font-size:16px;
    color:black;
}
.bocznaodkrywka
{
    width:70px;
    height:70px;
    background-color:darkblue;
    border:4px purple solid;
}
.cena
{
    height:8px;
    text-align:center;
    color:white;
}
.bocznacena
{
    text-align:center;
    font-size:14px;
    width:20px;
    float:right;
    margin-top:5px;
    color:white;
}
.gracze
{
    width:125px;
    background-color:aquamarine;
    border:3px purple solid;
    display:inline-block;
    height:35px;
    margin-left:180px;
    color:black;
    text-align:center;
    font-size:30px;
}
.pionek
{
    width:15px;
    height:15px;
    float:right;
    background-color:beige;
    border: burlywood 2px solid;
    color:black;
}
.srebrny
{
    border: silver 2px solid;
}
.zloty
{
    border: gold 2px solid;
}
.normalny1
{
    border: darkred 2px solid;
}
.normalny2
{
    border: chartreuse 2px solid;
}
.normalny3
{
    border: fuchsia 2px solid;
}
.normalny4
{
    border: navy 2px solid;
}
.p1
{
    opacity:0;
    width:8px;
    height:8px;
    float:right;
    background-color:darkred;
    color:black;
}
.p2
{
    opacity:0;
    width:8px;
    height:8px;
    float:right;
    background-color:chartreuse;
    color:black;
}
.p3
{
    opacity:0;
    width:8px;
    height:8px;
    float:right;
    background-color:fuchsia;
    color:black;
}
.p4
{
    opacity:0;
    width:8px;
    height:8px;
    float:right;
    background-color:navy;
    color:black;
}
.domek
{
    width:17px;
    height:20px;
    background-color:darkgreen;
    opacity:0;
    float:left;
    border: brown 1px solid;
}
#targ
{
    float:left;
    margin-left:650px;
    margin-top:44px;
    font-size:14px;
    font-weight:600;
}
.hotel
{
    width:74px;
    background-color:rgb(101, 42, 42);
    height:21px;
    float:left;
    opacity:0;
}
.bocznyhotel
{
    width:33px;
    height:33px;
    background-color:rgb(101, 42, 42);
    opacity:0;
}
