body {
  background-color: #333333;
  color: white;
}
#k3 {
  color: white;
}
.balanse-graczy {
}
.dzialki {
}
.karta {
  left: 41rem;
  position: absolute;
  width: 8rem;
  background-color: aquamarine;
  border: 3px purple solid;
  /*display: inline-block;*/
  height: 3.2rem;
  color: black;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}
#policjant {
  width: 13rem;
}
.odkrywka2 {
  width: 7rem;
  border: 4px purple solid;
  height: 2.7rem;
  background-color: darkblue;
  margin-top: 0.8rem;
  font-size: 1rem;
  color: black;
  margin-left: -5px;
}
.bocznaodkrywka2 {
  width: 4.5rem;
  height: 4.4rem;
  background-color: darkblue;
  border: 4px purple solid;
  margin-left: -6px;
}
.klik {
  cursor: pointer;
}
.wiekszepole {
  width: 16.5rem;
  height: 4.4rem;
  float: left;
  text-align: center;
  border: 4px solid blueviolet;
  padding-top: 0.6rem;
  font-size: 1.3rem;
}
.dzialka2 {
  height: 5.5rem;
  width: 8.2rem;
  background-color: red;
  border: 4px solid blueviolet;
  float: left;
}
.bocznadzialka2 {
  height: 5.5rem;
  width: 7.4rem;
  background-color: darkkhaki;
  border: 4px solid blueviolet;
}
.bocznanagroda {
  height: 5rem;
  width: 6.9rem;
  background-color: brown;
  border: 4px solid blueviolet;
  font-size: 1.2rem;
  text-align: center;
}
#wienzienie {
  opacity: 0.8;
  background-color: darkgreen;
}
.nagroda {
  height: 5rem;
  width: 8.2rem;
  background-color: brown;
  float: left;
  border: 4px solid blueviolet;
  text-align: center;
  font-size: 1.2rem;
}
.szansa {
  height: 5rem;
  width: 8.2rem;
  background-color: forestgreen;
  float: left;
  border: 4px solid blueviolet;
  font-size: 1.2rem;
  text-align: center;
}
#start {
  background-color: blue;
  width: 12.5rem;
}
#parking {
  background-color: deeppink;
}
#trzecia {
  width: 90rem;
}
.bocznaszansa {
  height: 5rem;
  width: 6.9rem;
  background-color: forestgreen;
  border: 4px solid blueviolet;
  font-size: 1.2rem;
  text-align: center;
}
#druga {
  width: 1rem;
}
#czwarta {
  width: 7rem;
  float: right;
}
#pierwsza {
  height: 5rem;
  width: 90rem;
}
.balans {
  margin: 1.5rem 0 0 8.75rem;
  width: 8rem;
  background-color: aquamarine;
  border: 3px purple solid;
  display: inline-block;
  height: 2.188rem;
  color: black;
  text-align: center;
  font-size: 1.875rem;
}
.odkrywka {
  width: 7.625rem;
  border: 4px purple solid;
  height: 2.813rem;
  background-color: darkblue;
  margin-top: 0.75rem;
  font-size: 1rem;
  color: black;
}
.bocznaodkrywka {
  width: 4.375rem;
  height: 4.375rem;
  background-color: darkblue;
  border: 4px purple solid;
}
.cena {
  height: 0.5rem;
  text-align: center;
  color: white;
}
.bocznacena {
  text-align: center;
  font-size: 0.875rem;
  width: 1.25rem;
  float: right;
  margin-top: 0.313rem;
  color: white;
}
.gracze {
  width: 7.813rem;
  background-color: aquamarine;
  border: 3px purple solid;
  display: inline-block;
  height: 2.188rem;
  margin-left: 11.25rem;
  color: black;
  text-align: center;
  font-size: 1.875rem;
}
.pionek {
  width: 0.938rem;
  height: 0.938rem;
  float: right;
  background-color: beige;
  border: burlywood 2px solid;
  color: black;
}
.srebrny {
  border: silver 2px solid;
}
.zloty {
  border: gold 2px solid;
}
.normalny1 {
  border: darkred 2px solid;
}
.normalny2 {
  border: chartreuse 2px solid;
}
.normalny3 {
  border: fuchsia 2px solid;
}
.normalny4 {
  border: navy 2px solid;
}
.pionek {
  opacity: 0;
  width: 0.5rem;
  height: 0.5rem;
  float: right;
  color: black;
}
.p1 {
  background-color: darkred;
}
.p2 {
  background-color: chartreuse;
}
.p3 {
  background-color: fuchsia;
}
.p4 {
  background-color: navy;
}
#domy {
  bottom: 35rem;
}
#przymtran {
  bottom: 28rem;
}
#podtran {
  bottom: 21rem;
}
#zapiszywaniePostepu {
  bottom: 14rem;
}
#przywrocPostep {
  bottom: 7rem;
}
.domek {
  width: 1rem;
  height: 1.1rem;
  background-color: darkgreen;
  opacity: 0;
  float: left;
  border: brown 1px solid;
}
#targ {
  float: left;
  margin-left: 42rem;
  margin-top: 2.6rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.hotel {
  width: 4.625rem;
  background-color: rgb(101, 42, 42);
  height: 1.313rem;
  float: left;
  opacity: 0;
}
.bocznyhotel {
  width: 2.063rem;
  height: 2.063rem;
  background-color: rgb(101, 42, 42);
  opacity: 0;
}
